.footer
{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgb(32, 24, 24);
  padding: 20px;
  border-top: 1px solid #e7e7e7;
}

.Applicationlogo
{
  padding-right: 15rem;
  
 
}
.applogo
{
  border-radius: 50% !important;
  
}
.addproduct
{
  margin-left: 5px;
  margin-top: 10px;
}
.productheading
{
  margin-top: 10px;
  text-align: center;
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
